<!DOCTYPE html>
<html>
    <head>
        <title>TS Diagnostics Test Project</title>
    </head>
    <body>
        <script src="dojo/dojo.js"></script>
        <script src="dijit/dijit.js"></script>

        <div data-dojo-type="views/ViewA_hash_.js"></div>
        <div data-dojo-type="views/ViewB_hash_.js"></div>
        <div data-dojo-type="views/ViewC_hash_.js"></div>

        <script>
            require(["dojo/parser", "dojo/domReady!"], parser => {
                parser.parse();
            });
        </script>
    </body>
</html>
