<!DOCTYPE html>
<html>
    <head>
        <title>TS Diagnostics Test Project</title>
    </head>
    <body>
        <script src="dojo-release-1.16.0/dojo/dojo.js"></script>
        <script src="dojo-release-1.16.0/dijit/dijit.js"></script>
        <script src="./views/controls/ComponentA.js"></script>

        <div data-dojo-type="/views/controls/ComponentA"></div>

        <script>
            require(["dojo/parser", "dojo/domReady!"], parser => {
                parser.parse();
            });
        </script>
    </body>
</html>
