<!DOCTYPE html>
<html>
    <head>
        <title>TS Diagnostics Test Project</title>
    </head>
    <body>
        <script src="dojo/dojo.js"></script>
        <script src="dijit/dijit.js"></script>

        <div data-dojo-type="views/controls/ComponentA"></div>
        <div data-dojo-type="views/controls/ComponentB"></div>
        <div 
            data-dojo-type="views/controls/ComponentC"
            data-dojo-props="content: 'Hello, World'"></div>

        <script>
            require(["dojo/parser", "dojo/domReady!"], parser => {
                parser.parse();
            });
        </script>
    </body>
</html>
