<div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Name'"
        data-dojo-attach-point="fieldName">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Age'"
        data-dojo-attach-point="fieldAge">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Occupation'"
        data-dojo-attach-point="fieldOccupation">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'WorkAddress'"
        data-dojo-attach-point="fieldWorkAddress">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Gender'"
        data-dojo-attach-point="fieldGender">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Phone Number'"
        data-dojo-attach-point="fieldPhoneNumber">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Phone Number, Business 1'"
        data-dojo-attach-point="fieldPhoneNumberBusiness1">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Phone Number, Business 2'"
        data-dojo-attach-point="fieldPhoneNumberBusiness2">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'SIN'"
        data-dojo-attach-point="fieldSIN">
    </div>
</div>
    