<div>
    <div class="field-name">Name: ${firstName} ${lastName}</div>
    <div class="field-age">Age: ${age}</div>
    <div class="field-school">School: ${school}</div>
    <div class="field-occupation">Occupation: ${occupation}</div>
    <div class="field-city">City: ${city}</div>
    <div class="field-state">State: ${state}</div>
    <div class="field-country">Country: ${country}</div>
    <div class="field-address">Address: ${address}</div>
    <div class="field-gender">Gender: ${gender}</div>
    <div class="field-birthday">Birthday: ${birthday}</div>
    <div class="field-hometown">Hometown: ${hometown}</div>
    <div class="field-phoneNumber">Phone Number: ${phoneNumber}</div>
    <div class="field-status">Status: ${status}</div>
    <ul class="friends-list" data-dojo-attach-point="friendsListNode"></ul>
</div>
