<div>
    <div class="field-name">Name: ${FirstName} ${LastName}</div>
    <div class="field-age">Age: ${Age}</div>
    <div class="field-school">School: ${School}</div>
    <div class="field-occupation">Occupation: ${Occupation}</div>
    <div class="field-city">City: ${City}</div>
    <div class="field-state">State: ${State}</div>
    <div class="field-country">Country: ${Country}</div>
    <div class="field-address">Address: ${Address}</div>
    <div class="field-gender">Gender: ${Gender}</div>
    <div class="field-birthday">Birthday: ${Birthday}</div>
    <div class="field-hometown">Hometown: ${Hometown}</div>
    <div class="field-phoneNumber">Phone Number: ${PhoneNumberCell}</div>
    <div class="field-status">Status: ${Status}</div>
    <ul class="friends-list" data-dojo-attach-point="friendsListNode"></ul>
</div>
