<div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'First Name'"
        data-dojo-attach-point="fieldName">
    </div>
    <div data-dojo-attach-point="fieldAge">Age:</div>
    <div data-dojo-attach-point="fieldSchool">School:</div>
    <div data-dojo-attach-point="fieldOccupation">Occupation:</div>
    <div data-dojo-attach-point="fieldCity">City:</div>
    <div data-dojo-attach-point="fieldState">State:</div>
    <div data-dojo-attach-point="fieldCountry">Country:</div>
    <div data-dojo-attach-point="fieldAddress">Address:</div>
    <div data-dojo-attach-point="fieldGender">Gender:</div>
    <div data-dojo-attach-point="fieldBirthday">Birthday:</div>
    <div data-dojo-attach-point="fieldHometown">Hometown:</div>
    <div data-dojo-attach-point="fieldPhoneNumber">Phone Number:</div>
    <div data-dojo-attach-point="fieldStatus">Status:</div>
    <ul class="friends-list" data-dojo-attach-point="friendsListNode"></ul>

    <script type="dojo/require">at: "dojox/mvc/at"</script>
</div>
