<div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Name'"
        data-dojo-attach-point="fieldName">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Age'"
        data-dojo-attach-point="fieldAge">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'School'"
        data-dojo-attach-point="fieldSchool">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Gender'"
        data-dojo-attach-point="fieldGender">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'Phone Number'"
        data-dojo-attach-point="fieldPhoneNumber">
    </div>
    <div 
        data-dojo-type="views/controls/FieldComponent"
        data-dojo-props="fieldLabel: 'SIN'"
        data-dojo-attach-point="fieldSIN">
    </div>
    <ul class="friends-list" data-dojo-attach-point="coursesListNode"></ul>
</div>
